.navbar-component {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #87CEFA;
    color: white;
    block-size: 60px;
    gap: 10px;
  }
  
  .left-container {
    align-self: self-start;
    padding-inline-start: 10px;
    block-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .right-container {
    padding-inline-end: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
  }
  
  .nav-title {
    font-size: 1.5rem;
    inline-size: 150px;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    inline-size: 100px;
    block-size: 100%;
    color: white;
    text-decoration: none;
  }
  
  .nav-item:hover {
    background-color: white;
    color: black;
  }
  
  .nav-item:active {
    color: red;
  }
  
  .button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    inline-size: 100px;
    block-size: 100%;
    color: white;
    text-decoration: none;
  }
  
  .button-logout:hover {
    background-color: rgb(226, 28, 71);
  }
  