body {
  font-family: Arial, sans-serif;
  margin: 0;
}

section {
  padding: 20px;
}

form {
    max-width: 800px;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group {
    flex: 1;
    margin-right: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="datetime-local"],
form select {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para la tabla de usuarios */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* Estilos para los botones de acción en la tabla */
table button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #28a745;
  color: #fff;
}

table button:hover {
  background-color: #218838;
}

table button.delete {
  background-color: #dc3545;
}

table button.delete:hover {
  background-color: #c82333;
}
